[KSplash Theme: SteampunK]
Name = SteampunK
Description = Steampunked KSplash theme

Version = 1.0
Author = Siarhei Kuchynski [Binary Inspiration]
Homepage = siarhei.kuchynski@gmail.com
Engine = KSplashX
