[Desktop Entry]
Comment=Check one or more Gmail accounts
Comment[bg]=Проверка на една или повече Gmail сметки
Comment[cs]=Kontrola jednoho nebo více Gmail účtů
Comment[de]=Ein oder mehrere Gmail-Konten prüfen
Comment[el]=Έλεγξε έναν ή περισσότερους λογαριασμούς Gmail
Comment[es]=Comprueba una o más cuentas de correo Gmail
Comment[fr]=Vérifier un ou plusieurs comptes Gmail
Comment[it]=Controlla uno o più account Gmail
Comment[nl]=Controleer een of meer Gmail accounts
Comment[pl]=Sprawdź jedno lub więcej kont Gmail
Comment[pt_BR]=Consulte uma ou mais contas do Gmail
Comment[ru]=Проверяет учетные записи Gmail
Comment[sr]=Проверавајте један или више Gmail налога
Comment[uk]=Перевірте один або більше Gmail акаунтів
Comment[zh_TW]=檢查一個或多個Gmail帳戶
Encoding=UTF-8
Icon=/home/zach/.kde/share/apps/plasma/plasmoids//gmail-plasmoid/gmail-plasmoid.svg
Name=gmail-plasmoid
ServiceTypes=Plasma/Applet
Type=Service
X-KDE-PluginInfo-Author=Mark McCans
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=mjmccans@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=gmail-plasmoid
X-KDE-PluginInfo-Version=0.7.20
X-KDE-PluginInfo-Website=http://code.google.com/p/gmail-plasmoid/
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-Plasma-NotificationArea=true
