#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Pandora
Exec=/opt/google/chrome/google-chrome --app-id=fbangkleohkafngihneedemihgfeikcl
Terminal=false
Icon=chrome-http___www.pandora.com_
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=crx_fbangkleohkafngihneedemihgfeikcl
OnlyShowIn=Old;
