[Desktop Entry]
Icon=text-x-tex
Name=ahs-sample.tex
Type=Link
URL[$e]=file://$HOME/Research/HUSL/Autorotation/AHS_Journal_Paper/AHSLaTeXTemplates1/ahs-sample.tex
X-KDE-LastOpenedWith=texmaker
