[Desktop Entry]
Icon=application-pdf
Name=Helicopter_Reference_Frames.pdf - Taylor, Sunberg - 2013.pdf
Type=Link
URL[$e]=file://$HOME/Dropbox/Util/Papers/Helicopter_Reference_Frames.pdf%20-%20Taylor,%20Sunberg%20-%202013.pdf
X-KDE-LastOpenedWith=okular
