[Desktop Entry]
Icon=text-x-matlab
Name=law554.m
Type=Link
URL[$e]=file://$HOME/Classes/AERO_628_Spacecraft_Control/proj4b/law554.m
X-KDE-LastOpenedWith=gvim-4
