[Desktop Entry]
Icon=folder
Name=nate.tlog
Type=Link
URL[$e]=file://$HOME/Util/Flight_Tests/ALIGN600E/logs/2013-04-25/flight5/nate.tlog
X-KDE-LastOpenedWith=kdialog
