[Desktop Entry]
Icon=application-pdf
Name=proj9.pdf
Type=Link
URL[$e]=file://$HOME/Classes/AERO_628_Spacecraft_Control/proj9/proj9.pdf
X-KDE-LastOpenedWith=okular
