[Desktop Entry]
Version=2.7.2
Encoding=UTF-8
Icon=kgpg
Actions=EditAsText;OpenInKonsoleFile;OpenInFilemanagerFile;
ServiceTypes=all/allfiles
X-KDE-Priority=TopLevel
X-KDE-Submenu=&Root Actions
X-KDE-Submenu[cs]=Accions de &root
X-KDE-Submenu[cs]=Root Akce
X-KDE-Submenu[de]=Administ&rator-Aktionen
X-KDE-Submenu[el]=Ενέργειες Υπερχρήστη
X-KDE-Submenu[es]=Opciones de root
X-KDE-Submenu[fi]=P&ääkäyttäjän toiminnot
X-KDE-Submenu[fr]=Actions d'&administration
X-KDE-Submenu[gl]=Accións coma root
X-KDE-Submenu[hu]=Rendszergazdai műveletek
X-KDE-Submenu[it]=Azioni come Root
X-KDE-Submenu[lt]=&Root veiksmai
X-KDE-Submenu[nb]=Handlinger som &root
X-KDE-Submenu[nl]=&Root Acties
X-KDE-Submenu[nn]=Handlingar som &root
X-KDE-Submenu[pl]=Działania administratora
X-KDE-Submenu[pt]=Ac&ções Administrativas
X-KDE-Submenu[pt_BR]=A&ções Administrativas
X-KDE-Submenu[pt_PT]=Ac&ções Administrativas
X-KDE-Submenu[ru]=Действия root
X-KDE-Submenu[sl]=Administratorska &opravila
X-KDE-Submenu[sr]=Корене &акције
X-KDE-Submenu[sr@latin]=Korene &akcije
X-KDE-Submenu[sv]=Root åtgärder
X-KDE-Submenu[tr]=&Yetkili Eylemleri
#X-KDE-Submenu[xx]=Your string 'xx' is the country abbreviation

[Desktop Action EditAsText]
Exec=rootactions-servicemenu.pl open_with kate %U
Icon=kate
Name=Open as Text
Name[ca]=Obre com a text
Name[cs]=Otevřít jako Text
Name[de]=Als Textdatei bearbeiten
Name[el]=Άνοιγμα σαν Κείμενο
Name[es]=Abrir como texto
Name[fi]=Avaa tekstinä
Name[fr]=Ouvrir comme texte
Name[gl]=Abrir coma texto
Name[hu]=Megnyitás szövegként
Name[it]=Apri come testo
Name[lt]=Atverti kaip tekstą
Name[nb]=Rediger
Name[nl]=Openen als tekst
Name[nn]=Rediger
Name[pl]=Otwórz jako tekst
Name[pt]=Editar como Texto
Name[pt_BR]=Abrir como Texto
Name[pt_PT]=Editar como Texto
Name[ru]=Открыть как текст
Name[sl]=Odpri kot besedilo
Name[sr]=Отвори као текст
Name[sr@latin]=Otvori kao tekst
Name[sv]=Redigera
Name[tr]=Metin olarak aç
#Name[xx]=Your string 'xx' is the country abbreviation

[Desktop Action OpenInKonsoleFile]
Exec=rootactions-servicemenu.pl root_konsole_here konsole $(dirname "%f")
Icon=konsole
Name=Open Terminal Here
Name[ca]=Obre terminal aquí
Name[cs]=Otevřít zde terminál
Name[de]=In Konsole öffnen
Name[el]=Άνοιγμα Κονσόλας Εδώ
Name[es]=Abrir terminal aqui
Name[fi]=Avaa pääte tähän
Name[fr]=Ouvrir un terminal ici
Name[gl]=Abrir unha consola aquí
Name[hu]=Konzol indítása itt
Name[it]=Apri qui la Konsole
Name[lt]=Atverti čia terminalą
Name[nb]=Åpne terminal her
Name[nl]=Openen in Konsole
Name[nn]=Opne terminal her
Name[pl]=Otwórz terminal tutaj
Name[pt]=Abrir o terminal aqui
Name[pt_BR]=Abrir terminal aqui
Name[pt_PT]=Abrir o terminal aqui
Name[ru]=Открыть терминал здесь
Name[sl]=Tu odpri terminal
Name[sr]=Отвори терминал овде
Name[sr@latin]=Otvori terminal ovde
Name[sv]=Öppna terminal här
Name[tr]=Uçbirimi Burada Aç
#Name[xx]=Your string 'xx' is the country abbreviation

[Desktop Action OpenInFilemanagerFile]
Exec=rootactions-servicemenu.pl open_with konqueror $(dirname "%f")
Icon=system-file-manager
Name=Open File Manager Here
Name[ca]=Obre gestor de fitxers aquí
Name[cs]=Otevřít v souborovém manažeru
Name[de]=Im Dateimanager öffnen
Name[el]=Άνοιγμα Διαχειριστή Αρχείων Εδώ
Name[es]=Abrir en gestor de archivos
Name[fi]=Avaa tiedostomanagerilla
Name[fr]=Ouvrir dans le gestionnaire de fichiers
Name[gl]=Abrir o xestor de ficheiros aquí
Name[hu]=Megynyitás fájlkezelővel
Name[it]=Apri in File Manager
Name[lt]=Atverti failų tvarkytuve
Name[nb]=Åpne i filbehandler
Name[nl]=Openen in Bestandsbeheerder
Name[nn]=Opne i filhandsamar
Name[pl]=Otwórz w menedżerze plików
Name[pt]=Abrir no Gestor de Ficheiros
Name[pt_BR]=Abrir no Gerenciador de Arquivos
Name[pt_PT]=Abrir no Gestor de Ficheiros
Name[ru]=Открыть в файловом менеджере
Name[sl]=Odpri v upravitelju datotek
Name[sr]=Отвори у менаџеру фајлова
Name[sr@latin]=Otvori u menadžeru fajlova
Name[sv]=Öppna i filhanterare
Name[tr]=Dosya Yöneticisinde Aç
#Name[xx]=Your string 'xx' is the country abbreviation
