[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=text/x-ms-odc
Comment=Microsoft Office Data Connection
Icon=/opt/cxoffice/share/icons/32x32/crossover.png
Patterns=
X-Created-By=CrossOver
X-Created-By-xdg-cxoffice-4f0e0064-dbea-4cc4-a891-dae1c6284202=text_x-ms-odc;text_x-ms-odc::edit;text_x-ms-odc::edittext
X-Created-By-xdg-cxoffice-8b5504b1-2467-422b-a2a6-7d9bbbb2101a=text_x-ms-odc;text_x-ms-odc::edit;text_x-ms-odc::edittext
