[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.openxmlformats-officedocument.presentationml.slideshow
Comment=Microsoft PowerPoint Slide Show
Icon=/home/zach/.cxoffice/Microsoft Office 2010/windata/Associations/2dd10ba6_pptico.12.xpm
Patterns=
X-Created-By=CrossOver
X-Created-By-xdg-cxoffice-4f0e0064-dbea-4cc4-a891-dae1c6284202=application_vnd.openxmlformats-officedocument.presentationml.slideshow;application_vnd.openxmlformats-officedocument.presentationml.slideshow::edit;application_vnd.openxmlformats-officedocument.presentationml.slideshow::new;application_vnd.openxmlformats-officedocument.presentationml.slideshow::print;application_vnd.openxmlformats-officedocument.presentationml.slideshow::viewprotected
X-Created-By-xdg-cxoffice-8b5504b1-2467-422b-a2a6-7d9bbbb2101a=application_vnd.openxmlformats-officedocument.presentationml.slideshow;application_vnd.openxmlformats-officedocument.presentationml.slideshow::edit;application_vnd.openxmlformats-officedocument.presentationml.slideshow::new;application_vnd.openxmlformats-officedocument.presentationml.slideshow::print;application_vnd.openxmlformats-officedocument.presentationml.slideshow::viewprotected
