[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/vnd.ms-powerpoint.addin.macroEnabled.12
Comment=Microsoft PowerPoint Addin
Icon=/home/zach/.cxoffice/Microsoft Office 2010/windata/Associations/2dd10ba6_pptico.15.xpm
Patterns=
X-Created-By=CrossOver
X-Created-By-xdg-cxoffice-4f0e0064-dbea-4cc4-a891-dae1c6284202=application_vnd.ms-powerpoint.addin.macroEnabled.12
X-Created-By-xdg-cxoffice-8b5504b1-2467-422b-a2a6-7d9bbbb2101a=application_vnd.ms-powerpoint.addin.macroEnabled.12
