[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-crossover-dotm
Comment=Microsoft Word Macro-Enabled Template
Icon=/home/zach/.cxoffice/Microsoft Office 2010/windata/Associations/dbf20e2b_wordicon.16.xpm
Patterns=*.DOTM
X-Created-By=CrossOver
X-Created-By-xdg-cxoffice-4f0e0064-dbea-4cc4-a891-dae1c6284202=application_vnd.ms-word.template.macroEnabled.12;application_vnd.ms-word.template.macroEnabled.12::edit;application_vnd.ms-word.template.macroEnabled.12::onenoteprintto;application_vnd.ms-word.template.macroEnabled.12::open;application_vnd.ms-word.template.macroEnabled.12::openasreadonly;application_vnd.ms-word.template.macroEnabled.12::print;application_vnd.ms-word.template.macroEnabled.12::viewprotected
X-Created-By-xdg-cxoffice-8b5504b1-2467-422b-a2a6-7d9bbbb2101a=application_vnd.ms-word.template.macroEnabled.12;application_vnd.ms-word.template.macroEnabled.12::edit;application_vnd.ms-word.template.macroEnabled.12::onenoteprintto;application_vnd.ms-word.template.macroEnabled.12::open;application_vnd.ms-word.template.macroEnabled.12::openasreadonly;application_vnd.ms-word.template.macroEnabled.12::print;application_vnd.ms-word.template.macroEnabled.12::viewprotected
