[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-crossover-ods
Comment=OpenDocument Spreadsheet
Icon=/home/zach/.cxoffice/Microsoft Office 2010/windata/Associations/a9ea0702_xlicons.32.xpm
Patterns=*.ODS
X-Created-By=CrossOver
X-Created-By-xdg-cxoffice-4f0e0064-dbea-4cc4-a891-dae1c6284202=application_vnd.oasis.opendocument.spreadsheet;application_vnd.oasis.opendocument.spreadsheet::edit;application_vnd.oasis.opendocument.spreadsheet::new;application_vnd.oasis.opendocument.spreadsheet::openasreadonly;application_vnd.oasis.opendocument.spreadsheet::print;application_vnd.oasis.opendocument.spreadsheet::viewprotected
X-Created-By-xdg-cxoffice-8b5504b1-2467-422b-a2a6-7d9bbbb2101a=application_vnd.oasis.opendocument.spreadsheet;application_vnd.oasis.opendocument.spreadsheet::edit;application_vnd.oasis.opendocument.spreadsheet::new;application_vnd.oasis.opendocument.spreadsheet::openasreadonly;application_vnd.oasis.opendocument.spreadsheet::print;application_vnd.oasis.opendocument.spreadsheet::viewprotected
