[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-crossover-vsx
Comment=Microsoft Visio Document
Icon=/home/zach/.cxoffice/Microsoft Office 2010/windata/Associations/22c48846_vviewer.-2.xpm
Patterns=*.VSX;*.vsx
X-Created-By=CrossOver
X-Created-By-xdg-cxoffice-4f0e0064-dbea-4cc4-a891-dae1c6284202=application_vnd.ms-visio.viewer
X-Created-By-xdg-cxoffice-8b5504b1-2467-422b-a2a6-7d9bbbb2101a=application_vnd.ms-visio.viewer
