[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-crossover-hol
Comment=Outlook Holidays
Icon=/home/zach/.cxoffice/Microsoft Office 2010/windata/Associations/b5fefe3d_outicon.6.xpm
Patterns=*.HOL;*.hol
X-Created-By=CrossOver
X-Created-By-xdg-cxoffice-4f0e0064-dbea-4cc4-a891-dae1c6284202=application_x-crossover-hol
X-Created-By-xdg-cxoffice-8b5504b1-2467-422b-a2a6-7d9bbbb2101a=application_x-crossover-hol
