[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-crossover-infopathxml
Comment=Microsoft InfoPath Form
Icon=/home/zach/.cxoffice/Microsoft Office 2010/windata/Associations/4b983888_inficon.1.xpm
Patterns=*.INFOPATHXML;*.infopathxml
X-Created-By=CrossOver
X-Created-By-xdg-cxoffice-4f0e0064-dbea-4cc4-a891-dae1c6284202=application_x-crossover-infopathxml;application_x-crossover-infopathxml::edit
X-Created-By-xdg-cxoffice-8b5504b1-2467-422b-a2a6-7d9bbbb2101a=application_x-crossover-infopathxml;application_x-crossover-infopathxml::edit
