[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-crossover-pptx
Comment=Microsoft PowerPoint Presentation
Icon=/home/zach/.cxoffice/Microsoft Office 2010/windata/Associations/2dd10ba6_pptico.10.xpm
Patterns=*.PPTX
X-Created-By=CrossOver
X-Created-By-xdg-cxoffice-4f0e0064-dbea-4cc4-a891-dae1c6284202=application_vnd.openxmlformats-officedocument.presentationml.presentation;application_vnd.openxmlformats-officedocument.presentationml.presentation::edit;application_vnd.openxmlformats-officedocument.presentationml.presentation::new;application_vnd.openxmlformats-officedocument.presentationml.presentation::print;application_vnd.openxmlformats-officedocument.presentationml.presentation::show;application_vnd.openxmlformats-officedocument.presentationml.presentation::viewprotected
X-Created-By-xdg-cxoffice-8b5504b1-2467-422b-a2a6-7d9bbbb2101a=application_vnd.openxmlformats-officedocument.presentationml.presentation;application_vnd.openxmlformats-officedocument.presentationml.presentation::edit;application_vnd.openxmlformats-officedocument.presentationml.presentation::new;application_vnd.openxmlformats-officedocument.presentationml.presentation::print;application_vnd.openxmlformats-officedocument.presentationml.presentation::show;application_vnd.openxmlformats-officedocument.presentationml.presentation::viewprotected
