[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-crossover-accda
Comment=Microsoft Access Add-in
Icon=/home/zach/.cxoffice/Microsoft Office 2010/windata/Associations/516846ba_accicons.40.xpm
Patterns=*.ACCDA;*.accda
X-Created-By=CrossOver
X-Created-By-xdg-cxoffice-4f0e0064-dbea-4cc4-a891-dae1c6284202=application_msaccess.addin
X-Created-By-xdg-cxoffice-8b5504b1-2467-422b-a2a6-7d9bbbb2101a=application_msaccess.addin
